<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{%block title%}My whisky{%endblock%}</title>
    <!-- 위 타이틀은 크롬창에 뜨는 제목 (홈페이지 안의 내용이 아님) -->
</head>
<body>
    <div class="sidebar">
        {%block sidebar%}
        <header>My whisky</header>
        {%endblock%}
    </div>
</body>
</html>

