{%extends "base.html"%}

{% load static %}



{% block ifmobile %}
<!--모바일 기기 접속시 (꼭 haed나 body등 안에 있어야함☆)-->

{% endblock %}


{% block sidebar0 %}
{{ block.super }}

<script type="text/javascript">
  function myFunction(value) {
    var x = document.getElementById("myDIV"+value);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock %}



{% block sidebar1 %}
<main>

    <br><hr><br>

    <div class="about">
      <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
              <div class="titlepage">
                  <br>
                  <h2 style="text-align:center">What you can do</h2>

                  <h3>Scanning your whisky!</h3>
                  <p>You can find what your whisky is!</p>

                  <h3>Find your whisky and Record!</h3>
                  <p>You can find your Whisky! and record how you taste!</p>

                  <h3>Make your spacial whisky showcase!</h3>
                  <p>You can make showcase only one in the world!</p>
                  <br>
              </div>
            </div>
            <div class="col-md-7">
              <div class="about_img" style="text-align:center">
                <figure><img src="{%static 'img/base/mainhomeimage.png'%}" class="img-fluid" alt="#" width="420"/></figure>
              </div>
            </div>
        </div>
      </div>
    </div>

    <br><hr>
    <h2 style="text-align:center" id="NewsFeed">News Feed</h2>
    <br>
    <div class="row">
    {% for m in images reversed %}
      <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
          <div class="card h-100 p-4">
              
              {% if m.is_public == True %}

                
                <div class="row">
                  <div class="col">
                    <a href="{% url 'tastingnote:user_tastingnote' m.owner.id %}" style="color:#000000">
                      <i class="large user circle outline icon"></i>&nbsp;&nbsp;&nbsp;{{m.owner.username}}
                    </a>
                  </div>
                </div>
                <br>

                <div class="card h-10 p-2">
                  <h3 style="text-align:center">{{m.whiskyname}}</h3>
                </div>
                <br>
                <img src="{{ m.image.url }}" class="card-img-top" style="max-height: 560px; object-fit: contain;">
                <br>
                <!-- 좋아요, 댓글, 저장버튼 -->
                <div class="top attached card" style="padding:10px;">
                  <div class="row">
                    <div class="col" style="text-align:left">

                      &nbsp;&nbsp;&nbsp;<i class="large heart red icon"></i>&nbsp;
                      {% for follow in likecounting %}
                        {% if follow.image == m.image %}
                        {{follow.like_count}}
                        {% endif %}
                      {% endfor %}
                     

                      &nbsp;&nbsp;&nbsp;<i class="large bookmark blue icon"></i>&nbsp;
                      {% for follow in followcounting %}
                        {% if follow.image == m.image %}
                        {{follow.follow_count}}
                        {% endif %}
                      {% endfor %}

                    </div>
                    <div class="col" style="text-align:right">
                        <a data-bs-toggle="collapse" href="#collapseExample{{m.id}}" style="color:#000000">
                          <i class="large icons">
                            <i class="comments outline icon"></i>
                          </i>
                        </a>
                        
                        &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'home_imagelike' m.id %}" style="color:#000000" >
                          <i class="large icons">
                            <i class="heart outline icon"></i>
                            {% for p in follow %}
                              {% if p.UploadImagekey.id == m.id %}
                                {% if p.is_like == True  %}
                                <i class="corner red heart icon"></i></a>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'home_imagesave' m.id %}" style="color:#000000" >
                          <i class="large icons">
                            <i class="bookmark outline icon"></i>
                            {% for p in follow %}
                              {% if p.UploadImagekey.id == m.id %}
                                {% if p.is_follow == True %}
                                <i class="corner blue bookmark icon"></i>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </i>
                        </a>
                        &nbsp;&nbsp;&nbsp;


                            
                    </div>
                  </div>

                </div>




              {% else %}
                  <p>Anonymous</p>
              {% endif %}
              <br>

              <!-- 댓글리스트 -->

              <div class="collapse" id="collapseExample{{m.id}}">
                <div class="card p-2 h-2">
                  <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                      {% for c in m.commentmodel_set.all %}
                        {% if c.UploadImagekey.id == m.id %}
                        
                          <a class="avatar" style="color:#000000">
                            <i class="large meh outline icon"></i>
                          </a>
                          <div class="content">
                            <a class="author" href="{% url 'tastingnote:user_tastingnote' c.comment_user.id %}">{{c.comment_user}}</a>
                            <div class="metadata">
                              <span class="date">{{c.pub_date}}</span>
                            </div>
                            <div class="text">
                              <p>{{c.comment}}</p>
                            </div>
                            <div class="actions">
                              <a class="reply">Reply</a>
                              <a class="like">
                                <i class="small heart icon"></i>
                              </a>
                            </div>
                          </div>
                          <br>
                        {% endif %}
                      {% endfor %}
                      
                      <br>
                      <!-- <div class="comments">
                        <div class="comment">
                          <a class="avatar">
                            <img src="/images/avatar/small/jenny.jpg">
                          </a>
                          <div class="content">
                            <a class="author">Jenny Hess</a>
                            <div class="metadata">
                              <span class="date">Just now</span>
                            </div>
                            <div class="text">
                              Elliot you are always so right :)
                            </div>
                            <div class="actions">
                              <a class="reply">Reply</a>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    
                    <form class="ui reply form" action="{% url 'home_imagecomment' m.id %}" method="post">
                      {% csrf_token %}
                      <textarea name="comment" id="comment" ></textarea>
                      <button type="submit" class="ui blue labeled icon button" id="submit-file">
                        <i class="icon edit"></i>Add Reply
                      </button>
                    </form>
                  </div>

                </div>
                <br>
              </div>
              


              <!-- 테이스팅노트 -->

              
              <div class="card p-2 h-2">
                <a data-bs-toggle="collapse" href="#collapsenote{{m.id}}" style="color:#000000">
                  <h4 style="text-align:center">Tasting note</h4>
                </a>
              </div>
              
              <div class="collapse" id="collapsenote{{m.id}}">
              
              {% for n in m.tastingnotemodel_set.all %}
              {% if n.is_public == True %}
                <div class="card p-2 h-2">
                    <h3>
                      <i class="paw icon"></i>
                      {{n.name}}
                    </h3>

                    <table class="table" >

                      <thead>
                        <tr>
                          <th style="width:40%; text-align:center;">Category</th>
                          <th style="width:60%; text-align:center;">Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="center aligned">
                          <td>
                            Barrel Rating
                          </td>
                          <td style="text-align:center;">
                            <p>
                              {% if n.drumtong_rating == 1 %}
                              <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top">
                              {% elif n.drumtong_rating == 2 %}
                              <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top">
                              {% elif n.drumtong_rating == 3 %}
                              <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top">
                              {% elif n.drumtong_rating == 4 %}
                              <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top">
                              {% elif n.drumtong_rating == 5 %}
                              <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top"> <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="15" height="20" class="d-inline-block align-text-top">
                              {% endif %}
                            </p>
                          </td>
                        </tr>
                        <tr class="center aligned">
                          <td>
                            Taste
                          </td>
                          <td style="text-align:center;">
                            {{n.taste}} ({{n.taste_intensity}})
                          </td>
                        </tr>
                        <tr class="center aligned">
                          <td>
                            Flavor
                          </td>
                          <td style="text-align:center;">
                            {{n.flavor}} ({{n.flavor_intensity}})
                          </td>
                        </tr>
                        <tr class="center aligned">
                          <td>
                            Alchol Finish
                          </td>
                          <td style="text-align:center;">
                            {{n.alchol_finish}}
                          </td>
                        </tr>
                        <tr>
                            <td colspan='2' class="center aligned">
                              One Line Review
                              <br>
                              &nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;{{n.one_line_review}}
                              
                            </td>
                        </tr>
                        

                      </tbody>
                    </table>
                </div> 
                <br>
              {% endif %}
                    
              {% empty %}
              
              {% endfor %}
              
              </div>
          </div>
      </div>




      {% empty %}
      <p>No whisky added.</p>
      {% endfor %}
    </div>

    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if images.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{images.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
        {% endif %}
        
        <li class="page-item disabled"><a class="page-link" href="">{{images.number}}/{{images.paginator.num_pages}}</a></li>
        
        {% if images.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{images.next_page_number}}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
        {% endif %}
      </ul>
    </nav>





    <br><hr><br>

    <!-- 맨위로 버튼 생성 -->
    <div style="position:fixed; bottom:50px; right:15px;">
      <a href="#NewsFeed" style="color:#000000"><i class="large caret square up outline icon"></i>Top</a>
    </div>

</main>

{% endblock %}

{% block sidebar2 %}

<main>



    <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_rwcp"></div>

    <br>

    <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://mywhisky-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <p></p>
    </div>

    <br><br>


</main>
{%endblock%}



{% block content1 %}
<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <p align="center">
      <i class="laptop icon"></i>
      pc version
    </p> 
  <!-- </div> -->
<!-- </div> -->
{%endblock%}


