{% extends 'base.html' %}  

{% load static %}

{% block sidebar0 %}
{{ block.super }}


{% endblock %}


{% block sidebar1 %}
<br>


<div class="container">
    <div class="row">
    <div class="col">

        <div class="card" >
            <!-- 이미지 기본정보 -->
            <br>
            <div class="row" style="text-align:right">
                <h4 style="text-align:right">{{the_uploadimagemodel.owner}}({{the_uploadimagemodel.owner.nickname}})&nbsp;&nbsp;&nbsp;</h4>
            </div>
            <div class="row" style="text-align:right">
                <p style="text-align:right">{{the_uploadimagemodel.image}}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div class="row" style="text-align:right">
                <p style="text-align:right">{{the_uploadimagemodel.pub_date}}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <img src="{{ file_url }}" class="card-img-top" alt="No image">
            <div class="card-body">
                <div class="row" style="text-align:center">
                    <h3>{{the_uploadimagemodel.whiskyname}}</h3>
                </div>
            </div>
        </div>
        <br>
                
            <!-- 테이스팅노트 작성 후 모습 -->
            {% if name %}
            <h4 style="text-align:center">TASTING NOTE (saved)</h4>

            <div class="row">
                <div class="card h-10 p-4">
                    <div class="row">
                        <div class="col">
                            <p style="text-align:right">{{the_uploadimagemodel.pub_date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Whisky Name : {{the_uploadimagemodel.whiskyname}}</h3>
                        <h4>Tasting Note Name : {{name}}</h4>
                        
                    </div>
                    <br>
                    
                    <hr><br>
                    <p style="text-align:left">One_Line_Review :</p>
                    <p> {{one_line_review}}</p>
                    <hr><br>
                    <p style="text-align:left">Barrel_Rating : {{drumtong_rating}}</p>
                    <p style="text-align:left">Taste : {{taste}} (intensity : {{taste_intensity}})</p>
                    <p style="text-align:left">Flavor : {{flavor}} (intensity : {{flavor_intensity}})</p>
                    <p style="text-align:left">alchol_finish : {{alchol_finish}}</p>
                    <p style="text-align:left">etc : {{etc}}</p>
                    <p style="text-align:left">etc_intensity : {{etc_intensity}}</p>
                    <p style="text-align:left">long_review : {{long_review}}</p>
                </div>
            </div>

            <!-- 테이스팅노트 에디팅 -->
            {% elif the_tastingnotemodel %}
            <h4 style="text-align:center">TASTING NOTE (before edited)</h4>

            <div class="row">
                <div class="card h-10 p-4">
                    <div class="row">
                        <div class="col">
                            <p style="text-align:right">{{the_tastingnotemodel.pub_date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <h3>{{the_tastingnotemodel.UploadImagekey.whiskyname}}</h3>
                        <h4>{{the_tastingnotemodel.name}}</h4>
                    </div>
                    <br>
                    
                    <hr><br>
                    <p style="text-align:left">One_Line_Review :</p>
                    <p> {{the_tastingnotemodel.one_line_review}}</p>
                    <hr><br>
                    <p style="text-align:left">Barrel_Rating : {{the_tastingnotemodel.drumtong_rating}}</p>
                    <p style="text-align:left">Taste : {{the_tastingnotemodel.taste}} (intensity : {{the_tastingnotemodel.taste_intensity}})</p>
                    <p style="text-align:left">Flavor : {{the_tastingnotemodel.flavor}} (intensity : {{the_tastingnotemodel.flavor_intensity}})</p>
                    <p style="text-align:left">alchol_finish : {{the_tastingnotemodel.alchol_finish}}</p>
                    <p style="text-align:left">etc : {{the_tastingnotemodel.etc}}</p>
                    <p style="text-align:left">etc_intensity : {{the_tastingnotemodel.etc_intensity}}</p>
                    <p style="text-align:left">long_review : {{the_tastingnotemodel.long_review}}</p>
                </div>
            </div>

            <!-- 아무것도 없을때 테이스팅노트 추가 -->
            {% else %}


            {% endif %}



            <!-- 테이스팅노트 작성 폼 -->

            <!-- 테이스팅노트 작성 후 모습 -->
        {% if name %}
        <form action="{% url 'tastingnote:main_tastingnote' the_uploadimagemodel.id %}" method="post">
        
            {% csrf_token %}

            <h4 class="ui dividing header">Whisky Name</h4>
            <div class="ui form">
                <div class="ui grey segment">

                    <a data-bs-toggle="collapse" href="#collapseExample{{m.id}}" style="color:#000000">
                        <i class="edit icon"></i><strong>Typing whiskyname directly</strong>
                    </a>
                    <div class="mb-3">
                      <input name="whiskyname" class="form-control" type="text">
                    </div>
                    <a data-bs-toggle="collapse" href="#collapseExample{{m.id}}" style="color:#000000">
                      <i class="edit icon"></i><strong>Or Choose whiskyname</strong>
                    </a>
                    <select class="form-select" size="10" aria-label="size 3 select example" name="whiskyname">
                      {% for name in whiskynamelist %}
                      <option value="{{name}}">{{name}}</option>
                      {% endfor %}
                    </select>

                </div>
            </div>


            <!-- 테이스팅노트 에디팅 -->
        {% elif the_tastingnotemodel %}
        <form action="{% url 'tastingnote:edit_tastingnote' the_tastingnotemodel.id %}" method="post">
            {% csrf_token %}

            <!-- 아무것도 없을때 테이스팅노트 추가 -->
        {% else %}
        <form action="{% url 'tastingnote:main_tastingnote' the_uploadimagemodel.id %}" method="post">
            {% csrf_token %}

            <h4 class="ui dividing header">Whisky Name</h4>
            <div class="ui form">
                <div class="ui grey segment">
                    <a data-bs-toggle="collapse" href="#collapseExample{{m.id}}" style="color:#000000">
                        <i class="edit icon"></i><strong>Typing whiskyname directly</strong>
                    </a>
                    <div class="mb-3">
                      <input name="whiskyname" class="form-control" type="text">
                    </div>
                    <a data-bs-toggle="collapse" href="#collapseExample{{m.id}}" style="color:#000000">
                      <i class="edit icon"></i><strong>Or Choose whiskyname</strong>
                    </a>
                    <select class="form-select" size="10" aria-label="size 3 select example" name="whiskyname">
                      {% for name in whiskynamelist %}
                      <option value="{{name}}">{{name}}</option>
                      {% endfor %}
                    </select>
                    <br>
                    <p>※ If whisky name was already selected, you don't need to check again</p>
                </div>
            </div>
            
        {% endif %}

            <br>
            <h4 class="ui dividing header">Tasting Note Name</h4>
            <div class="ui form">
                <div class="ui blue segment">
                    <textarea name="name" id="" cols="20" rows="1" maxlength="100" required></textarea>
                </div>
            </div>

            <h4 class="ui dividing header">Barrel Rating</h4>
            <div class="ui form">
            <div class="ui red segment">
                <label>Choose whisky grade :</label>
                <div class="ui radio checkbox">
                <div class="container text-left">
                    <div class="row">
                    <div class="col-md-auto">
                        <input type="radio" id="star_rating1" name="drumtong_rating" class="hidden" value="1">
                        <label for="star_rating1">
                            <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top">
                        </label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="star_rating2" name="drumtong_rating" class="hidden" value="2">
                        <label for="star_rating2">
                            <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top">
                        </label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="star_rating3" name="drumtong_rating" class="hidden" value="3" checked="checked">
                        <label for="star_rating3">
                            <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top">
                        </label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="star_rating4" name="drumtong_rating"  class="hidden" value="4">
                        <label for="star_rating4">
                            <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top">
                        </label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="star_rating5" name="drumtong_rating" class="hidden" value="5">
                        <label for="star_rating5">
                            <img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top"><img src="{%static 'img/base/mainlogoimg.png'%}" alt="" width="19" height="23" class="d-inline-block align-text-top">
                        </label>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <h4 class="ui dividing header">One Line Review</h4>
            <div class="ui form">
            <div class="ui green segment">
                Write what you think :
                <textarea name="one_line_review" maxlength="100" id="" cols="10" rows="5" required></textarea>
            </div>
            </div>

            <h4 class="ui dividing header">Taste</h4>
            <div class="ui form">
            <div class="ui orange segment">
                <label>Taste you feel :</label>
                <div class="ui radio checkbox">
                <div class="container text-left">
                    <div class="row">
                    <div class="col-md-auto">
                        <input type="radio" id="taste1" name="taste" class="hidden" value="Salty" checked="checked">
                        <label for="taste1">Salty</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste2" name="taste" class="hidden" value="Spicy">
                        <label for="taste2">Spicy</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste3" name="taste" class="hidden" value="Sour">
                        <label for="taste3">Sour</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste4" name="taste"  class="hidden" value="Astringency">
                        <label for="taste4">Astringency</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste5" name="taste" class="hidden" value="Bitter">
                        <label for="taste5">Bitter</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste6" name="taste" class="hidden" value="Fat">
                        <label for="taste6">Fat</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste7" name="taste" class="hidden" value="Sweety">
                        <label for="taste7">Sweety</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="taste8" name="taste" class="hidden" value="Umami">
                        <label for="taste8">Umami</label>
                    </div>

                    </div>
                </div>
                </div>
            </div>
            </div>

            <h4 class="ui dividing header">Taste Intensity</h4>
            <div class="ui form">
            <div class="ui orange segment">
                <label for="taste_intensity" class="form-label">Choose intensity you feel :</label>
                <input type="range" name="taste_intensity" class="form-range" min="1" max="5" step="1" id="taste_intensity">
            </div>
            </div>

            <h4 class="ui dividing header">Flavor</h4>
            <div class="ui form">
            <div class="ui olive segment">
                <label>Flavor you feel :</label>
                <div class="ui radio checkbox">
                <div class="container text-left">
                    <div class="row">
                    <div class="col-md-auto">
                        <input type="radio" id="flavor1" name="flavor" class="hidden" value="Floral" checked="checked">
                        <label for="flavor1">Floral</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="flavor2" name="flavor" class="hidden" value="Fruity">
                        <label for="flavor2">Fruity</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="flavor3" name="flavor" class="hidden" value="Peaty">
                        <label for="flavor3">Peaty</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="flavor4" name="flavor"  class="hidden" value="Woody">
                        <label for="flavor4">Woody</label>
                    </div>

                    <div class="col-md-auto">
                        <input type="radio" id="flavor5" name="flavor" class="hidden" value="Spicy">
                        <label for="flavor5">Spicy</label>
                    </div>

                    </div>
                </div>
                </div>
            </div>
            </div>

            <h4 class="ui dividing header">Flavor Intensity</h4>
            <div class="ui form">
            <div class="ui olive segment">
                <label for="flavor_intensity" class="form-label">Choose intensity you feel :</label>
                <input type="range" name="flavor_intensity" class="form-range" min="1" max="5" step="1" id="flavor_intensity">
            </div>
            </div>

            <h4 class="ui dividing header">Alchol finish</h4>
            <div class="ui form">
            <div class="ui yellow segment">
                <label for="alchol_finish" class="form-label">Choose what you feel :</label>
                <input type="range" name="alchol_finish" class="form-range" min="1" max="5" step="1" id="alchol_finish">
            </div>
            </div>

            <h4 class="ui center aligned dividing header">
                <div class="container" style="border-color:#5d38fd;">
                    <a data-bs-toggle="collapse" href="#collapseextra" style="color:#5d38fd; ">
                        <i class="fitted plus square outline icon"></i>&nbsp;
                        Additional category
                    </a>
                </div>
            </h4>
            <br>
            <div class="collapse" id="collapseextra">
                <h4 class="ui dividing header">
                    <textarea name="etc" maxlength="50" id="" cols="25" rows="1" style="border-color:purple;"></textarea>
                </h4>
                
                <div class="ui form">
                <div class="ui purple segment">
                    <label for="etc_intensity" class="form-label">Choose intensity you feel :</label>
                    <input type="range" name="etc_intensity" class="form-range" min="1" max="5" step="1" id="etc_intensity">
                </div>
                </div>

                <h4 class="ui dividing header">Long Review</h4>
                <div class="ui form">
                <div class="ui purple segment">
                    Write what you think :
                    <textarea name="long_review" maxlength="1000" id="" cols="10" rows="10"></textarea>
                </div>
                </div>


            </div>
            <br>
            <div>
                <button type="submit" class="ui blue labeled icon button" id="submit-file2">
                    <i class="icon edit"></i>Save
                </button>
            </div>

        </form>
    </div>
    </div>

    <br><hr><br>


</div>



<br><br>


{% endblock %} 