{% extends 'home.html' %}  

{% load static %}

{% block sidebar0 %}
{{ block.super }}
{% endblock %}

{% block css1 %}
  <link rel="stylesheet" type="text/css" href="{% static 'style_labelscanner.css'%}">
{%endblock%}



{% block sidebar1 %}
    {% block intro %}
    <div class="card h-100 p-20" style="text-align:center">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <br>
                    <div class="row">
                        <form action="{% url 'common:pofileimage_edit'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="image_upload_input">
                                    <label for="chooseFile">
                                        {% if user.profileimage %}
                                        <img class="ui medium circular image" style="max-width:200px; max-height:250px; object-fit: cover; border: 2px solid rgb(212, 212, 212); "  src="{{user.profileimage.url}}" title="If you want to change Profile Image, Click it!" alt="Profile image" loading="lazy">
                                        {% else %}
                                        <img class="ui medium centered circular bordered image" style="object-fit: cover;"  src="{%static 'img/plusimage2.png'%}" title="If you want to change Profile Image, Click it!" alt="Profile image" loading="lazy">
                                        {% endif %}
                                    </label>
                                </div>
                                <input type="file" id="chooseFile" name="profileimage" alt="Your photo!" accept="image/*" onchange="form.submit()">
                        </form>

                        <p class="h3"><i class="user outline icon"></i>&nbsp;<strong>{{user.nickname}}</strong></p>
                        <p class="h5">{{user.username}}</p>
                    </div>
                    <hr>
                    <div class="row" style="text-align:center; font-size:1.2rem;">
                        <div class="ui two column grid" style="padding:20px;">
                            <div class="col">
                                <div class="row">
                                    <div class="ui fluid card" style="border: 1px solid rgb(255, 221, 221); margin:10px; padding:20px;">
                                        <div>
                                            <i class="fitted red heart outline icon"></i>&nbsp;{{followers}}
                                        </div>
                                        <div style="margin-top:5px;">Followers</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="ui fluid card" style="border: 1px solid rgb(255, 221, 221); margin:10px; padding:20px;">
                                        <div>
                                            <i class="fitted red heart outline icon"></i>&nbsp;{{following}}
                                        </div>
                                        <div style="margin-top:5px;">Following</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    {% endblock %}

<br>

<!-- 사진들만 전시, 클릭할 경우 이동 -->
<h3 id="showcase" class="ui top attached violet header">
    <i class="angle right icon"></i>Showcase
</h3>
<br>
<div class="ui centered cards">
    {% for m in images %}
    <div class="red card" style="height: 23vh; width: 19vw;" >
        <img id="imagetag" style="height: 100%; object-fit: cover;" src="{{ m.image.url }}" onclick="location.href='#{{m.id}}'" alt="Whisky image" loading="lazy">
    </div>
    {% endfor %}
    <div class="blue card" style="height: 23vh; width: 19vw;">
        <img src="{%static 'img/plusimage2.png'%}" style="height: 100%; object-fit: scale-down;" onclick="location.href='{% url 'labelscanner:main_labelscanner' %}'" alt="Whisky image" loading="lazy">
    </div>
</div>
<br>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if images.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{images.previous_page_number}}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
    {% endif %}
    
    <li class="page-item disabled"><a class="page-link" href="">{{images.number}}/{{images.paginator.num_pages}}</a></li>
    
    {% if images.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{images.next_page_number}}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
    {% endif %}
  </ul>
</nav>
<br>

<hr>


<!-- 테이스팅노트들 전시 -->
<main>
    {% if images %}
        <h3 id="Tasting Note" class="ui top attached purple header">
            <i class="angle right icon"></i>Tasting Note
        </h3>
        <br>

        {% block whiskyfeed %}
        {{block.super}}
            {% if m %}
                {% block userinfor %}
                <p style="text-align:right">{{m.pub_date}}</p>    
                {% endblock %}

                <!-- 위스키 수정, 삭제, 공개여부 버튼 -->
                {% block additionalbutton  %}
                <div class="ui three bottom attached buttons" style="background-color:#FFD9EC">
                    <div class="ui animated button" tabindex="0">
                    <div class="visible content">
                        <i class="edit icon"></i>
                    </div>
                    <div class="hidden content">
                        <a href="{{m.id}}/editwhisky" style="color:#000000">Edit</a>
                    </div>
                    </div>
                    <div class="ui animated button" tabindex="0">
                    <div class="visible content">
                        <i class="trash alternate outline icon"></i>
                    </div>
                    <div class="hidden content">
                        <a href="{{m.id}}/deletewhisky" onclick="if(!confirm('Do you really want to delete this whisky?? \n(All whisky pictures and notes are gone)')){return false;}" style="color:#000000">Delete</a>
                    </div>
                    </div>
                    <div class="ui animated button" tabindex="0">
                    <div class="visible content">
                        <i class="share square outline icon"></i>
                    </div>
                    <div class="hidden content">
                        <a href="{{m.id}}/publicwhisky" style="color:#000000">Public : {{m.is_public}}</a>
                    </div>
                    </div>
                </div>
                {%endblock%}

                <!-- 노트 추가 / 노트보기 버튼 -->            
                {% block addtastingnotebutton %}
                <div class="row" >
                    <div class="col" style="text-align:center">
                        <div class="card h-10 p-2">
                            <a href="{{m.id}}" style="color:#000000">
                                <i class="plus square outline icon"></i>
                                Add note
                            </a>
                        </div>
                    </div>
                    <div class="col" style="text-align:center">
                        <div class="card h-10 p-2">
                            <a data-bs-toggle="collapse" href="#collapsenote{{m.id}}" style="color:#000000">
                                <i class="list icon"></i>View notes
                            </a>    
                        </div>
                    </div>
                </div>
                <br>
                {% endblock %}



                <!-- 하단 테이스팅 노트 관련 버튼들  -->
                {% block edittastingnotebutton %}
                <div class="row" style="padding:10px;">
                    <p style="text-align:center;">Public : {{n.is_public}}</p>
                </div>
                <div class="row" >
                    <div class="col" style="text-align:center">
                        <div class="card h-10 p-2">
                            <a href="{{n.id}}/edit">
                                <i class="edit icon"></i>
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="col" style="text-align:center">
                        <div class="card h-10 p-2">
                            <a href="{{n.id}}/delete" onclick="if(!confirm('Do you really want to delete this note?')){return false;}">
                                <i class="eraser icon"></i>
                                Erase
                            </a>    
                        </div>
                    </div>
                    <div class="col" style="text-align:center">
                        <div class="card h-10 p-2">
                            <a href="{{n.id}}/public">
                                <i class="share square outline icon"></i>
                                Public
                            </a>
                        </div>
                    </div>
                </div>
                {% endblock %}

            {% endif %}
        {% endblock %}

    {% else %}
        <br><br><br>
        <h3 style="text-align:center">{{error_message}}</h3>
        <!-- 버튼으로 노트 추가할 수 있게 만들기 -->
        <br><br><br>
    {% endif %}

    {% block pagenation %}
    {{block.super}}
    {% endblock %}

    <!-- 맨위로 버튼 생성 -->
    {% block gotopbutton %}
    <div style="position:fixed; bottom:50px; right:15px;">
        <a href="#showcase" style="color:#000000"><i class="large caret square up outline icon"></i>Top</a>
    </div>
    {% endblock %}


</main>

{% endblock%}

